name: Run tests

'on':
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          # Python scripts should support python>=3.11
          python-version: "3.11"

      - name: Set up virtualenv
        run: |
          make PYTHON_VERSION=3.11 venv

      - name: Run tests
        run: |
          make test
